---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import HeroBookingForm from '../components/HeroBookingForm.astro';
import { heroSlides } from '../data/hero-slides';
import ServicesSection from '../components/ServicesSection.astro';
import WhatWeProvideSection from '../components/WhatWeProvideSection.astro';
import BookingProcessSection from '../components/BookingProcessSection.astro';
import FaqSection from '../components/FaqSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import NewsletterSection from '../components/NewsletterSection.astro';
import { bookingProcessSteps } from '../data/booking-process';
import { faqItems } from '../data/faq';
import { serviceCards } from '../data/services';
import { whatWeProvide } from '../data/what-we-provide';
---

<Layout>
	<main class="landing-page">
		<div class="relative">
			<SiteHeader overlay />
			<HeroCarousel slides={heroSlides}>
				<HeroBookingForm slot="form" />
			</HeroCarousel>
		</div>

		<ServicesSection services={serviceCards} seeAllHref="/umrah-packages" />

		<WhatWeProvideSection items={whatWeProvide} />

		<BookingProcessSection steps={bookingProcessSteps} />

		<TestimonialsSection />

		<FaqSection items={faqItems} />

		<NewsletterSection />
	</main>
</Layout>
